.footer {
    width: 100vw;
    height: 20vh;
    background-color: rgb(17, 16, 16);
    font-size: 1.6rem;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.links {
    margin-bottom: 1vh;
}

.links a {
    color: white;
    text-decoration: none;
}

.links a:not(:last-child) {
    padding-right: 1rem;
}

/* .copyright {

} */

.links ul {
    margin: 0;
    padding: 0;
}
